{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Jornal do Commercio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app1/css/style.css' %}">

</head>
<body>

    <header class="main-header">
        <div class="container">
            <img src="{% static 'app1/assets/logo.png' %}" alt="Logo do Jornal do Commercio" class="header-logo">
            
            <nav class="main-nav">
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'topico_pernambuco' %}">Pernambuco</a>
                <a href="{% url 'topico_politica' %}">Política</a>
                <a href="{% url 'topico_esportes' %}">Esportes</a>
                <a href="{% url 'topico_cultura' %}">Cultura</a>
            </nav>

            <div class="header-login">
                <a href="{% url 'login' %}" class="login-btn">LOGIN</a>
            </div>
        </div>
    </header>

    <nav class="secondary-nav">
        <div class="container">
            <ul>
                <li><a href="#">AO VIVO</a></li>
                <li><a href="#">Rádio Jornal (RECIFE)</a></li>
                <li><a href="#">Rádio Jornal (INTERIOR)</a></li>
                <li><a href="#">TV Jornal (RECIFE)</a></li>
                <li><a href="#">TV Jornal (INTERIOR)</a></li>
            </ul>
        </div>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="main-footer">
        <div class="container">
            <p>&copy; 2025 JCPM. Reconstruído para fins acadêmicos.</p>
        </div>
    </footer>
    </body>
</html>