{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Jornal do Commercio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app1/css/style.css' %}">

</head>
<body>

    <header class="main-header">
        <div class="container header-grid">
            <button class="hamburger" id="menu-toggle" aria-label="Abrir menu" aria-expanded="false">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <a href="{% url 'home' %}" class="brand">
                <img src="{% static 'app1/assets/logo.png' %}" alt="Logo do Jornal do Commercio" class="header-logo" >
            </a>

            <div class="header-login">
                <a href="{% url 'login' %}" class="login-btn">Login</a>
            </div>
        </div>
  
            <nav class="main-nav" id="main-nav">
                <ul>
                    <li><a href="{% url 'topico_pernambuco' %}">Pernambuco</a></li>
                    <li><a href="{% url 'topico_politica' %}">Política</a></li>
                    <li><a href="{% url 'topico_esportes' %}">Esportes</a></li>
                    <li><a href="{% url 'topico_cultura' %}">Cultura</a></li>
                </ul>
            </nav>
    </header>

    <nav class="secondary-nav">
        <div class="container">
            <ul>
                <li><a href="#">AO VIVO</a></li>
                <li><a href="#">Rádio Jornal (RECIFE)</a></li>
                <li><a href="#">Rádio Jornal (INTERIOR)</a></li>
                <li><a href="#">TV Jornal (RECIFE)</a></li>
                <li><a href="#">TV Jornal (INTERIOR)</a></li>
            </ul>
        </div>
    </nav>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="main-footer">
        <div class="container">
            <p>&copy; 2025 JCPM. Reconstruído para fins acadêmicos.</p>
        </div>
    </footer>

    <!--Esse script é para abrir/fechar o menu hamburger-->
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            const toggle = document.getElementById('menu-toggle');
            const nav = document.getElementById('main-nav');

            if (!toggle || !nav) return;

            toggle.addEventListener('click', function(){
                const isOpen = nav.classList.toggle('is-open');
                toggle.classList.toggle('is-active', isOpen);
                toggle.setAttribute('aria-expanded', isOpen ? 'true' : 'false');
            });
        });
    </script>
    </body>
</html>