{% extends 'app1/base.html' %}
{% block title %}Jornal do Commercio - Home{% endblock %}
{% block content %}
    <main class="container">
        
        {% if manchete_principal %}
        <article class="card card-manchete">
            
            {% if manchete_principal.imagem %}
                <img src="{{ manchete_principal.imagem.url }}" alt="{{ manchete_principal.titulo }}">
            {% endif %}

            <div class="card-content">
                <span class="card-category">{{ manchete_principal.categoria|upper }}</span>
                <h2 class="card-title">
                    <a href="{% url 'exibir_artigo' manchete_principal.id %}">
                        {{ manchete_principal.titulo }}
                    </a>
                </h2>
                <p class="card-summary">{{ manchete_principal.resumo }}</p> 
            </div>
        </article>
        {% endif %}


        <h3 class="section-title">Mais Recentes</h3>
        
        <div class="recent-grid">
            {% for artigo in mais_recentes %}
            <article class="card">
                {% if artigo.imagem %}
                    <img src="{{ artigo.imagem.url }}" alt="{{ artigo.titulo }}">
                {% endif %}
                <div class="card-content">
                    <span class="card-category">{{ artigo.categoria|upper }}</span>
                    <h4 class="card-title">
                        <a href="{% url 'exibir_artigo' artigo.id %}">
                            {{ artigo.titulo }}
                        </a>
                    </h4>
                </div>
            </article>
            {% endfor %}
        </div>

        </main>

    <footer class="main-footer">
        <div class="container">
            <p>&copy; 2025 JCPM. Reconstruído para fins acadêmicos.</p>
        </div>
    </footer>
    
</body>
{% endblock content %}